:root {
  --input-border: azure;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

body{
    font-family: Google Sans,Roboto,Helvetica Neue,sans-serif;
    margin: 0;
    padding-top: 50px;
    height: 100%;
    background-color:#e2e2e1;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2a52be ;
    color: whitesmoke;
    box-shadow: 0px 0px 15px rgb(68, 68, 68);
    margin-bottom: 15px;
}
.brand-image{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.navbar{
float: right;
}
nav ul{
    list-style: none;
    margin: 13px;
}
nav ul li{
    display: inline;
    margin : 0 20px;
} 

nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    
}
nav ul li a:hover{
    transition: color .6s;
    color :#add8e6;
    border-bottom: 1px solid #add8e6;;
}
nav ul li a.active{
    color :#add8e6;
    border-bottom: 1px solid #add8e6;;
}


/* .grid
{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;

} */
.solve-btn{
  margin: 10px 5% 10px 90%;
  padding: 10px 20px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color:azure;
  color: rgb(42,82,190);
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: 0.25s ease;
}

.solve-btn:hover{
  background-color:rgb(42,82,190);
  color:azure;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25em;
}

.input:focus {
  border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) +
  40%), 0.8);
  outline: 3px solid transparent;
}

input[type=submit]{
  padding: 10px 20px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color:azure;
  color: rgb(42,82,190);
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: 0.25s ease;
}

input[type=submit]:hover{
  background-color:rgb(42,82,190);
  color:azure;
}

.gcard
{
  background: rgb(42,82,190);
  background: linear-gradient(90deg, rgba(42,82,190,1) 0%, rgba(219,50,85,1) 65%);
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 5% 10px 5%;
  display: block;
  color: white;

}

.status{
  margin-left: 20px;
  display: block;
  background: rgb(42,82,190);
    background: linear-gradient(90deg, rgba(42,82,190,1) 0%, rgba(219,50,85,1) 65%);
    color:azure;
    width: 150px;
    border-radius:10px;
    height:20px;
    padding:5%;
    position: absolute;
    top: 35%;
    left: 38%;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  #editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(50%);
    height: 80%;
  }
  #editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighing tokens */
    font-size: 12pt;
    font-family: monospace;
    line-height: 20pt;
  }
  
  
  #editing, #highlighting {
    /* In the same place */
    position: absolute;
    top: 85px;
    left: 600px;
  }
  
  
  /* Move the textarea in front of the result */
  
  #editing {
    z-index: 1;
  }
  #highlighting {
    z-index: 0;
  }
  
  
  /* Make textarea almost completely transparent */
  
  #editing {
    color: transparent;
    background: transparent;
    caret-color: white; /* Or choose your favourite color */
  }
  
  /* Can be scrolled */
  #editing, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
  }
  
  /* No resize on textarea */
  #editing {
    resize: none;
  }
  
  /* Paragraphs; First Image */
  * {
    font-family: "Fira Code", monospace;
  }
  p code {
    border-radius: 2px;
    background-color: #eee;
    color: #111;
  }
  
