body{
    font-family: Google Sans,Roboto,Helvetica Neue,sans-serif;
    margin: 0;
    padding-top: 50px;
    height: 100%;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2a52be ;
    color: whitesmoke;
    box-shadow: 0px 0px 15px rgb(68, 68, 68);
    margin-bottom: 15px;
}
.brand-image{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.navbar{
float: right;
}
nav ul{
    list-style: none;
    margin: 13px;
}
nav ul li{
    display: inline;
    margin : 0 20px;
} 

nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    
}
nav ul li a:hover{
    transition: color .6s;
    color :#add8e6;
    border-bottom: 1px solid #add8e6;;
}
nav ul li a.active{
    color :#add8e6;
    border-bottom: 1px solid #add8e6;;
}


.grid
{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /* gap: 1rem; */
    align-items: center;

}
.gcard
{
  background-color: rgb(184, 28, 62);
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 5% 20px 5%;
  display: block;
  color: white;
  text-align: center;

}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
